@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes softBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3%);
  }
}

@keyframes animateOut {
  0% {
  }
  100% {
    bottom: 120%;
  }
}

@keyframes fadeStarLineOut {
  0%, 28% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: oklch(13% 0.028 261.692);
}

*::-webkit-scrollbar-thumb {
  background-color: oklch(58.8% 0.158 241.966);
  border-radius: 10px;
  border: 4px solid oklch(13% 0.028 261.692);
}